/* basic styles */
html 
{
    font-size: 100%;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-family: Arial, Arial, Helvetica, sans-serif, sans-serif;
    height: 100%;
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion)
{
    html 
    {
        scroll-behavior: initial;
    }
}

body
{
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
    max-width: 100%;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

img, video
{
    width: 100%;
    height: auto;
    display: block;
}

/* modern browsers */
@supports (position:sticky)
{

}

/* Title Styles */

.title-bar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 5rem;
    overflow: hidden;
    background-color: #000;
    z-index: 100;
}

.title-bar h1
{
    font-size: 3rem;
    display: block;
    overflow: hidden;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0.5rem;
    margin: 0;
    text-decoration: none;
    letter-spacing: 0.2rem;
    color: #000;
}

.title-bar a
{
    font-weight: 400;
    letter-spacing: 0.1rem;
    border-bottom: none;
    transition: all ease;
    text-decoration: none;
    color: white;
}

/* Nav Menu Styles */

.nav-bar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
    overflow: hidden;
    background-color: rgb(10, 10, 10);
    z-index: 90;
}

.nav-menu
{
    text-transform: uppercase;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
    margin: 0;
}

.nav-item
{
    white-space: nowrap;
}

.nav-item a
{
    display: block;
    text-decoration: none;
    letter-spacing: 0.2rem;
    padding: 1rem;
    color: white;
}

/* Hero Styles */

.hero-box
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    align-content: center;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
    background-color: rgb(20, 20, 20);
}

.hero-text-box
{
    grid-column: 1 /-1;
    grid-row: 1 / -1;
    align-self: center;
    text-align: center;
    padding: 1rem;
    margin: 0;
    z-index: 50;
}

.hero-heading
{
    color: white;
    font-size: 5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 1rem;
}

.hero-subheading
{
    color: white;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    padding: 0.25rem;
}

.hero-text
{
    color: white;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    padding: 0.25rem;
}

.hero-footer
{
    color: white;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    padding: 1rem;
}

.hero-footer a
{
    color: red;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    text-decoration: none;
}

/* Portfolio Styles */

.portfolio-box
{
    margin: 0rem auto 0rem auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    align-content: center;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
    background-color: rgb(40, 40, 40);
}

.portfolio-text-box
{
    grid-column: 1 /-1;
    grid-row: 1 / -1;
    align-self: center;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
    z-index: 50;
}

.portfolio-heading
{
    color: white;
    font-size: 5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 0.5rem;
}

.portfolio-gallery
{
    margin: 1rem 20rem 5rem 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    grid-auto-rows: 300px;
}

.gallery-item
{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.gallery-image
{
    height: 100%;
    object-fit: cover;
}

/* Blog Styles */

.blog-box
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    align-content: center;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
    background-color: rgb(20, 20, 20);
}

.blog-text-box
{
    grid-column: 1 /-1;
    grid-row: 1 / -1;
    align-self: center;
    text-align: center;
    padding: 1rem;
    margin: 0;
    z-index: 50;
}

.blog-heading
{
    color: white;
    font-size: 5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 1rem;
}

.blog-text
{
    color: white;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    padding: 0.25rem;
}

/* About Me Styles */

.aboutme-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    align-content: center;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
    background-color: rgb(40, 40, 40);
}

.aboutme-title-box
{
    grid-column: 1 /-1;
    grid-row: 1 / -1;
    align-self: center;
    text-align: center;
    padding: 1rem;
    margin: 0;
    z-index: 50;
}

.aboutme-title
{
    color: white;
    font-size: 5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 1rem;
}

.aboutme-profileimage
{
    object-fit: cover;
    line-height: 0;
    grid-column: 1 /-1;
    grid-row: 2 / -1;
    align-content: center;
}

.profile-image 
{
    border-radius: 50%;
    border: solid 10px rgb(20,20,20);
    height: 20%;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutme-text-box
{
    grid-column: 1 /-1;
    grid-row: 1 / -1;
    align-self: center;
    text-align: center;
    padding: 1rem;
    margin: 0;
    z-index: 50;
}

.experience-header
{
    color: white;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 1rem;
}

.education-header
{
    color: white;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 1rem;
}

/* Contact Styles */

.contact-box
{
    margin: 0rem auto 0rem auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    align-content: center;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
    background-color: rgb(20, 20, 20);
}

.contact-text
{
    grid-column: 1 /-1;
    grid-row: 1 / -1;
    align-self: center;
    text-align: center;
    padding: 1rem;
    margin: 0;
    z-index: 50;
}

.contact-text h1
{
    color: white;
    font-size: 5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 0.25rem;
}

.contact-text p
{
    color: white;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 0.25rem;
}

.contact-text a
{
    color: red;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    text-decoration: none;
}

/* Add Media Queries for Large Screens */

@media (min-width: 600px)
{

}

@media (min-width: 920px)
{

}