/* basic styles */
html 
{
    font-size: 100%;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-family: Arial, Arial, Helvetica, sans-serif, sans-serif;
    height: auto;
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion)
{
    html 
    {
        scroll-behavior: initial;
    }
}

body
{
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
    max-width: 100%;
}

::-webkit-scrollbar 
{
    display: none;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

img, video
{
    width: 100%;
    height: 100%;
    display: block;
}

/* modern browsers */
@supports (position:sticky)
{

}

/* Title Styles */

.title-bar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 7.5vh;
    overflow: hidden;
    background-color: #000;
    z-index: 100;
}

.title-bar h1 
{
    font-size: 3rem;
    display: block;
    overflow: hidden;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0.5rem;
    margin: 0;
    text-decoration: none;
    letter-spacing: 0.2rem;
    color: #000;
    background: -webkit-linear-gradient(#7800FF, #FF00C1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-bar a
{
    font-weight: 400;
    letter-spacing: 0.1rem;
    border-bottom: none;
    transition: all ease;
    text-decoration: none;
}

/* Nav Menu Styles */

.nav-bar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 7.5vh;
    overflow: hidden;
    background-color: rgb(10, 10, 10);
    z-index: 90;
}

.nav-menu
{
    text-transform: uppercase;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
    margin: 0;
}

.nav-item
{
    white-space: nowrap;
}

.nav-item a
{
    display: block;
    text-decoration: none;
    letter-spacing: 0.2rem;
    padding: 1rem;
    color: white;
}

/* Hero Styles */

.hero-box
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    align-content: center;
    justify-content: center;
    align-items: start;
    min-height: 85vh;
    height: 100%;
    width: 100%;
    background-color: rgb(20,20,20);
}

.hero-text-box
{
    grid-column: 1 /-1;
    grid-row: 1 / -1;
    align-self: center;
    text-align: center;
    padding: 0rem;
    margin: 5vh 50vh 5vh 50vh;
    z-index: 50;
}

.hero-heading
{
    color: white;
    font-size: 5rem;
    letter-spacing: 0rem;
    text-transform: uppercase;
    padding: 0.25rem;
}

.hero-subheading
{
    color: white;
    font-size: 2rem;
    letter-spacing: 0rem;
    text-transform: lowercase;
    padding: 0.25rem;
}

.hero-text
{
    color: white;
    font-size: 1rem;
    letter-spacing: 0rem;
    text-transform: lowercase;
    padding: 0.25rem;
}

.hero-footer
{
    color: white;
    font-size: 1rem;
    letter-spacing: 0rem;
    text-transform: lowercase;
    padding: 1rem;
}

.hero-footer a
{
    color: red;
    font-size: 1rem;
    letter-spacing: 0rem;
    text-transform: lowercase;
    text-decoration: none;
}

/* Portfolio Styles */

.portfolio-container
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    align-content: center;
    justify-content: center;
    align-items: start;
    min-height: 85vh;
    height: 100%;
    width: 100%;
    background-color: rgb(20,20,20);
}

.portfolio-container h1
{
    line-height: 2rem;
    color: white;
    font-size: 5rem;
    letter-spacing: 0rem;
    text-transform: uppercase;
    padding: 0.25rem;

    align-self: center;
    text-align: center;
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,300px));
    grid-gap: 0.58rem;
    grid-auto-rows: 300px;
    align-self: center;
    align-content: center;
    margin: 10vh 34.6vh 10vh 34.6vh;
}

.container {
    position: relative;
    width: 50%;
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border: 3px solid purple;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(rgba(120, 0, 255, 0.8), rgba(255, 0, 193, 0.8));
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .25s ease;
    align-content: center;
    overflow-wrap: break-word;
    display: flex;
}

.container:hover .overlay {
    height: 100%;
    box-shadow: 0 0 10px 5px rgba(121, 0, 255, 0.5);
}

.container:hover .image
{
    filter: blur(2px);
}

hr.rounded
{
    border-top: 3px solid white;
    border-radius: 5px;
}

.project-text {
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    align-content: center;
    align-self: center;
}

.project-text .project-title
{
    min-width: 250px;
    max-width: 250px;
    min-height: 100px;
    max-height: 100px;
}

.project-text .project-tags
{
    min-width: 250px;
    max-width: 250px;
    min-height: 100px;
    max-height: 100px;
}

/* Blog Styles */

.blog-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    align-content: center;
    justify-content: center;
    align-items: start;
    min-height: 85vh;
    height: 100%;
    width: 100%;
    background-color: rgb(20, 20, 20);
}

.blog-text-box
{
    grid-column: 1 /-1;
    grid-row: 1 / -1;
    align-self: center;
    text-align: center;
    padding: 1rem;
    margin: 0;
    z-index: 50;
}

.blog-heading
{
    color: white;
    font-size: 5rem;
    letter-spacing: 0rem;
    text-transform: uppercase;
    padding: 1rem;
}

.blog-text
{
    color: white;
    font-size: 3rem;
    letter-spacing: 0rem;
    text-transform: lowercase;
    padding: 0.25rem;
}

/* About Me Styles */

.aboutme-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    align-content: center;
    justify-content: center;
    align-items: start;
    min-height: 85vh;
    height: 100%;
    width: 100%;
    background-color: rgb(20, 20, 20);
}

.aboutme-title-box
{
    grid-column: 1 /-1;
    grid-row: 1 / -1;
    align-self: center;
    text-align: center;
    padding: 1rem;
    margin: 0;
    z-index: 50;
}

.aboutme-title
{
    color: white;
    font-size: 5rem;
    letter-spacing: 0rem;
    text-transform: uppercase;
    padding: 1rem;
}

.aboutme-profileimage
{
    object-fit: cover;
    line-height: 0;
    grid-column: 1 /-1;
    grid-row: 2 / -1;
    align-content: center;
}

.profile-image 
{
    border-radius: 50%;
    border: solid 10px rgb(10,10,10);
    height: 20%;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutme-text-box
{
    grid-column: 1 /-1;
    grid-row: 1 / -1;
    align-self: center;
    text-align: center;
    margin: 0;
    z-index: 50;
    overflow-wrap: normal;
}

.su 
{
    outline: 2px solid purple;
    outline-offset: 20px;
    width: 50%;
    align-self: center;
    text-align: center;
    margin: 10vh auto 10vh auto;
}

.ensf 
{
    outline: 2px solid purple;
    outline-offset: 20px;
    width: 50%;
    align-self: center;
    text-align: center;
    margin: 10vh auto 10vh auto;
}

.education-header
{
    color: white;
    font-size: 2rem;
    letter-spacing: 0rem;
    text-transform: uppercase;
    padding: 0.5rem;
}

.education
{
    color: white;
    font-size: 1.25rem;
    letter-spacing: 0rem;
    text-transform: uppercase;
    padding: 1rem;
    margin: 2rem auto 2rem auto;
    text-align: start;
    align-self: start;
}

.highlight
{
    color: red;
    font-size: 1.25rem;
    letter-spacing: 0rem;
    text-transform: uppercase;
    padding: 0.5rem;
    background: -webkit-linear-gradient(#7800FF, #FF00C1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.qualification
{
    color: white;
    font-size: 1rem;
    letter-spacing: 0rem;
    text-transform: uppercase;
    padding: 0.5rem;
}

.areas-explored
{
    color: white;
    font-size: 1rem;
    letter-spacing: 0rem;
    text-transform: uppercase;
    padding: 0.5rem;
    background: none;
}

/* Contact Styles */

.contact-box
{
    margin: 0rem auto 0rem auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    align-content: center;
    justify-content: center;
    align-items: start;
    min-height: 85vh;
    height: 100%;
    width: 100%;
    background-color: rgb(20, 20, 20);
}

.contact-text
{
    grid-column: 1 /-1;
    grid-row: 1 / -1;
    align-self: center;
    text-align: center;
    padding: 0rem;
    margin: 0;
    z-index: 50;
}

.contact-text h1
{
    color: white;
    font-size: 5rem;
    letter-spacing: 0rem;
    text-transform: uppercase;
    padding: 0rem;
}

.contact-text p
{
    color: white;
    font-size: 1rem;
    letter-spacing: 0rem;
    text-transform: uppercase;
    padding: 0.25rem;
}

.contact-text a
{
    color: red;
    font-size: 1rem;
    letter-spacing: 0rem;
    text-transform: lowercase;
    text-decoration: none;
    margin: 2rem auto 2rem auto
}

/* Add Media Queries for Large Screens */

@media (min-width: 600px)
{

}

@media (min-width: 920px)
{

}