:root {
    /* Background Colour Pallet */
    --bg-colour-1: #121212;
    --bg-colour-2: #282828;
    --bg-colour-3: #3f3f3f;
    
    /* Text Colour Pallet */
    --text-colour-1: #ae8fd8;
    --text-colour-2: #ffffff;
    --text-colour-3: #848484;
    
    /* Set Website Font */
    font-family: "M PLUS 1 Code", monospace;
}

body {
    /* Set Website Background Colour */
    background-color: var(--bg-colour-1);
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

h1{
    color: var(--text-colour-1);
    font-size: 1.5rem;
    font-weight: 500;
}

p{
    color: var(--text-colour-2);
    font-size: 1rem;
}

.navbar {
    /* Set Navbar Properties */
    top: 0;
}

.navbar-container {
    /* Set Navbar Container Properties */
    background-color: var(--bg-colour-2);
    display: flex;
    justify-self: center;
    justify-content: space-between;
    width:50%;
    padding: 0 20px;
    border-radius: 30px;
}

.navbar-title {
    background-image: linear-gradient(var(--text-colour-1), var(--text-colour-1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.navbar-items {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-item{
    padding-left: 10px;
}

.navbar-link {
    text-decoration: none;
    color: var(--text-colour-2);
    font-size: 1rem;
}

.tile{
    padding-top: 25px;
}

.tile-container{
    background-color: var(--bg-colour-2);
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 75%;
    padding: 50px;
    border-radius: 30px;
}

.bullet-list-item{
    color: var(--text-colour-2);
}

.featured-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mini-player{
    height: 100%;
    width: 90%;
    border-radius: 10px;
    border: solid var(--bg-colour-3);
}

.button-standard{
    border: none;
    border-radius: 30px;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    background-color: var(--bg-colour-3);
}

.button-text{
    font-size: 1rem;
    color: var(--text-colour-1);
    text-decoration: none;
}

.skills-content{
    text-align: center;
}

.skills-table{
    width: 100%;
    table-layout: fixed;
    padding: 10px;
}

.table-header{
    font-size: 1rem;
    color: var(--text-colour-2);
    font-weight: 400;
    padding: 10px;
}

.table-content{
    font-size: 1rem;
    color: var(--text-colour-2);
    font-weight: 300;
}

.footer-tile{
    padding-top: 10px;
    bottom: 0;
}

.footer-content{
    text-align: center;
}

.footer{
    color: var(--text-colour-3);
    font-size: 1rem;
    font-weight: 200;
}

.cv-content{
    text-align: center;
}

.cv-content img{
    border-radius: 30px;
}

.contacts-content{
    text-align: center;
}

.contact-buttons a{
    text-decoration: none;
    cursor: default;
}

.contact-button{
    margin: 10px;
    background-color: var(--bg-colour-3);
    border: none;
    border-radius: 30px;
    width: 75px;
    height: 75px;
    font-size: 2rem;
    color: var(--text-colour-1);
    cursor: pointer;
}

.portfolio-content{
    width: 100%;
}

.centered-title{
    text-align: center;
}

.portfolio-content .filters {
    text-align: center;
}

.portfolio-content .button-standard{
    background-color: var(--bg-colour-2);
}

.filter-button{
    font-size: 1.5rem;
    background-color: var(--bg-colour-3);
    color: var(--text-colour-1);
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 150px;
}

.column{
    display: none;
    padding: 10px 10px;
    margin: 20px 0;
    background-color: var(--bg-colour-3);
    border-radius: 30px;
}

.show{
    display: block;
}

.column-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column-img{
    width: 95%;
    height: 100%;
    max-width: 100%;
    max-height: 230px;
}

.column-img img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}