*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "M PLUS 1 Code", monospace;
}

*::-webkit-scrollbar{
    display: none;
}

/** Card **/
.card{
    background: #121212;
}

/** Navbar Section **/

.navbar{
    position: sticky;
    top: 0;
    background: #121212;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

#navbar_logo{
    background-color: red;
    background-image: linear-gradient(to top, #ae8fd8 100%, #ae8fd8 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item{
    height: 50px;
}

.navbar_link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 25px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 100px;
    background: transparent;
    color: #fff;
    font-weight: 500;
}

.navbar_link:hover{
    color: #ae8fd8;
    background: #3f3f3f;
    transition: all 0.3s ease;
}

/** Hero Section **/

.main{
    background-color: #121212;
    padding: 50px;
}

.main_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100%;
    background-color: #282828;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 50px;
    border: solid #ae8fd8 5px;
    border-radius: 100px;
}

.introduction_content h2{
    font-size: 1.5rem;
    background-color: #673ab7;
    background-image: linear-gradient(to top, #ae8fd8 100%, #ae8fd8 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    padding-bottom: 10px;
}

.introduction_content p{
    font-size: 1rem;
    color: white;
    font-weight: 300;
}

.main_image_container{
    text-align: right;
}

#main_image{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    border: solid #ae8fd8 3px;
}

/** Featured Project Section **/
.featured_project{
    background-color: #121212;
    padding: 50px;
}

.featured_project_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100%;
    background-color: #282828;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 50px;
    border: solid #ae8fd8 5px;
    border-radius: 100px; 
}

.featured_project_content h2{
    font-size: 1.5rem;
    background-color: #673ab7;
    background-image: linear-gradient(to top, #ae8fd8 100%, #ae8fd8 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}

.featured_project_button{
    background-image: linear-gradient(to top, #3f3f3f 100%, #3f3f3f 100%);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor:pointer;
    position: relative;
    transition: all 0.5s;
    outline: none;
}

.featured_project_button a{
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    z-index: 5;
    color: #ae8fd8;
    text-decoration: none;
}

.featured_project_button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ae8fd8;
    transition: all 0.5s;
    border-radius: 50px;
}

.featured_project_button:hover a{
    transition: all 0.5s;
    color: #3f3f3f;
}

.featured_project_button:hover:after{
    width: 100%;
}

.featured_project_content p{
    font-size: 1rem;
    color: white;
    font-weight: 300;
}

.featured_project_video iframe{
    border: solid #ae8fd8 3px;
    border-radius: 50px;
    width: 550px;
    height: 100%;
    aspect-ratio: 16/9;
}

/** Background Section **/

.background{
    background-color: #121212;
    padding: 50px;
}

.background_container{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100%;
    background-color: #282828;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 50px;
    border: solid #ae8fd8 5px;
    border-radius: 100px;
}

.background_content{
    text-align: center;
}

.background_content h2{
    font-size: 1.5rem;
    background-color: #673ab7;
    background-image: linear-gradient(to top, #ae8fd8 100%, #ae8fd8 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    padding-bottom: 10px;
}

.background_content p{
    font-size: 1rem;
    color: white;
    font-weight: 300;
}

/** Skills Section **/

.skills{
    background-color: #121212;
    padding: 50px;
}

.skills_container{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100%;
    background-color: #282828;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 50px;
    border: solid #ae8fd8 5px;
    border-radius: 100px;
}

.skills_content{
    text-align: center;
}

.skills_content h2{
    font-size: 1.5rem;
    background-color: #673ab7;
    background-image: linear-gradient(to top, #ae8fd8 100%, #ae8fd8 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}

.skills_table{
    width: 100%;
    table-layout: fixed;
    border-radius: 50px;
    padding: 10px;
    border-spacing: 10px;
}

.skills_table_row{

}

.skills_table_header{
    border: 1px solid #ae8fd8;
    font-weight: 400;
    color: white;
    padding: 10px;
    border-radius: 50px;
}

.skills_table_data_filled{
    border: 1px solid #ae8fd8;
    color: white;
    font-weight: 300;
    padding: 10px;
    border-radius: 50px;
}

/** Footer Section **/

.footer_container{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 50px;
    background-color: #121212;
    z-index: 1;
    width: 100%;
    padding: 0 50px;
}

.footer_content{
    text-align: center;
}

.footer_content p{
    color: white;
    font-size: 1rem;
    font-weight: 100;
}

/** Project Section **/

.portfolio{
    background-color: #121212;
    padding: 50px;
}

.portfolio_content{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100%;
    background-color: #282828;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 50px;
    text-align: center;
    border: solid #ae8fd8 5px;
    border-radius: 100px;
}

.portfolio_content h2{
    margin: 10px;
    font-size: 1.5rem;
    background-color: #673ab7;
    background-image: linear-gradient(to top, #ae8fd8 100%, #ae8fd8 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}

.row{
    margin: 10px -16px;
}

.row,
.row > .column {
    padding: 10px;
}

.column{
    float: left;
    display: none;
    padding: 10px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column_content img{
    border: solid #ae8fd8 3px;
    border-radius: 25px;
    filter: grayscale(100%);
}

.column_content img:hover{
    transition: all 0.5s ease-in-out;
    filter: grayscale(0%);
    transform: scale(1.1);
}

.show{
    display: block;
}

.filters{
    text-align: center;
}

.filter_button{
    font-size: 1.5rem;
    font-weight: 400;
    background-image: linear-gradient(to top, #3f3f3f 100%, #3f3f3f 100%);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor:pointer;
    position: relative;
    transition: all 0.5s;
    outline: none;
    width: 125px;
}

.filter_button a{
    position: relative;
    z-index: 5;
    color: #ae8fd8;
    text-decoration: none;
}

.filter_button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ae8fd8;
    transition: all 0.5s;
    border-radius: 50px;
}

.filter_button:hover a{
    transition: all 0.5s;
    color: #3f3f3f;
}

.filter_button:hover:after{
    width: 100%;
}

/** Contacts Section **/

.contacts{
    background-color: #121212;
    padding: 50px;
}

.contacts_container{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    background-color: #282828;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 50px;
    border: solid #ae8fd8 5px;
    border-radius: 100px;
}

.contacts_content{
    text-align: center;
}

.contacts_content h2{
    font-size: 1.5rem;
    background-color: #ae8fd8;
    background-image: linear-gradient(to top, #ae8fd8 100%, #ae8fd8 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact_button{
    margin: 10px;
    background: #3f3f3f;
    border: none;
    border-radius: 25px;
    width: 75px;
    height: 75px;
    font-size: 2rem;
    color: #ae8fd8;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    outline: none;
}

.contact_button i{
    position: relative;
    z-index: 5;
    color: #ae8fd8;
    text-decoration: none;
}

.contact_button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ae8fd8;
    transition: all 0.5s;
    border-radius: 25px;
}

.contact_button:hover i{
    transition: all 0.5s;
    color: #3f3f3f;
}

.contact_button:hover:after{
    width: 100%;
}

/** CV Section **/

.cv{
    background-color: #121212;
    padding: 50px;
}

.cv_container{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    background-color: #282828;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 50px;
    border: solid #ae8fd8 5px;
    border-radius: 100px;
}

.cv_content{
    text-align: center;
}

.cv_content h2{
    font-size: 1.5rem;
    background-color: #ae8fd8;
    background-image: linear-gradient(to top, #ae8fd8 100%, #ae8fd8 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    margin-bottom: 25px;
}

.cv_content img{
    border: solid #ae8fd8 5px;
    border-radius: 50px;
    height: 100%;
    width: 100%;
}

.cv_content p{
    margin-top: 25px;
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

/** Project Information **/
.project_info{
    background-color: #121212;
    padding: 50px;
}

.project_info_container{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    background-color: #282828;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 50px;
    border: solid #ae8fd8 5px;
    border-radius: 100px;
}

.project_info_content{
    text-align: center;
}

.project_info_content h2{
    font-size: 1.5rem;
    background-color: #ae8fd8;
    background-image: linear-gradient(to top, #ae8fd8 100%, #ae8fd8 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    margin-bottom: 10px;
}

.project_info_video_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 50px;
}

.project_info_video_content iframe{
    border: solid #ae8fd8 3px;
    border-radius: 25px;
    width: 800px;
    height: 100%;
    aspect-ratio: 16/9;
}

.project_info_video_sidebar h2 {
    font-size: 1.5rem;
    color: #ae8fd8;
    font-weight: 400;
}

.project_info_video_sidebar p{
    font-size: 1rem;
    font-weight: 300;
    color: white;
}

.project_info_overview{
    padding-bottom: 50px;
}

.project_info_overview h2{
    font-size: 1.5rem;
    color: #ae8fd8;
    font-weight: 400;
}

.project_info_overview p{
    font-size: 1rem;
    font-weight: 300;
    color: white;
}

.gallery_container{
    text-align: -webkit-center;
}

.galleria{
    width: 1000px; 
    height: 100%;
    aspect-ratio: 16/9;
    background: #000
}

.project_download{
    padding: 50px;
}

.project_download h2{
    color: #ae8fd8;
    font-size: 1.5rem;
    font-weight: 400;
}

.project_download p{
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

/** Mobile Responsive **/

@media screen and (max-width: 768px){
    .navbar_container{
        padding: 0;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #3f3f3f;
    }

    .navbar_menu.active{
        background: #3f3f3f;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1rem;
    }

    #navbar_logo{
        padding-left: 25px;
    }

    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background: #fff;
    }

    .navbar_item{
        width: 100%;
    }

    .navbar_link{
        text-align: center;
        padding: 1.6rem;
        width: 100%;
        display: table;
    }

    #mobile_menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile_menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile_menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile_menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 768px){
    .main_container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 50vh;
    }
    
    .introduction_content{
        text-align: center;
        margin-bottom: 4rem;
    }
    
    .introduction_content h1{
        font-size: 2rem;
        margin-top: 2rem;
    }
    
    .introduction_content p{
        margin-top: 1rem;
        font-size: 1rem;
    }
    
    .background_container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 50vh;
    }
    
    .background_content{
        text-align: center;
        margin-bottom: 4rem;
    }
    
    .background_content h1{
        font-size: 2rem;
        margin-top: 2rem;
    }
    
    .background_content p{
        margin-top: 1rem;
        font-size: 1rem;
    }
    
    .featured_project_container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }
    
    .featured_project_content{
        text-align: center;
        margin-bottom: auto;
    }
    
    .featured_project_content h2{
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    
    .featured_project_video{
        display: block;
        margin: 0 auto;
    }
    
}

@media screen and (max-width: 480px){
    .introduction_content h1{
        margin-top: 3rem;
        font-size: 2rem;
    }
    
    .introduction_content p{
        margin-top: 2rem;
        font-size: 1rem;
    }
    
    .background_content h1{
        margin-top: 3rem;
        font-size: 2rem;
    }
    
    .background_content p{
        margin-top: 2rem;
        font-size: 1rem;
    }

    .featured_project_content h2{
        font-size: 1.5rem;
        margin-top: 3rem;
    }
}

